<section>
  <p>
    The UNC Chapel Hill chapter of
    the <a href="https://www.aaup.org/">American Association of
      University Professors</a> (AAUP) meets regularly to discuss
    campus affairs relevant to
    <a href="https://www.aaup.org/our-work/protecting-academic-freedom">
      academic freedom</a>,
    <a href="https://www.aaup.org/our-programs/shared-governance">shared
      governance</a>, and other
    <a href="https://www.aaup.org/issues-higher-education">issues of concern
    </a> to higher education
    workers.
  </p>
</section>
<section>
  <h2>Latest news</h2>
  <% posts.recent.forEach(post => { %>
    <%- include('../parts/post', {post}); %>
  <% }); %>
  <% if (posts.more) { %>
  <a href="/news<%= `#${posts.more}` %>" class="more">
    <i>More news …</i>
  </a>
  <% } %>
</section>
<section id="officers">
  <h2>Officers</h2>
  <ul>
    <li>
      <h3>President</h3>
      <p>
        <b>Michael Palm</b><br>
        Communication<br>
        mwpalm@gmail.com
      </p>
    </li>
    <li>
      <h3>Vice President</h3>
      <p>
        <b>Erik Gellman</b><br>
        History<br>
        egellman@unc.edu
      </p>
    </li>
    <li>
      <h3>Secretary-Treasurer</h3>
      <p>
        <b>Karen Booth</b><br>
        Women's and Gender Studies<br>
        karenmbooth@gmail.com
      </p>
    </li>
    <li>
      <h3>AAUP Representatives to Faculty Council</h3>
      <p>
        <b>Elyse Crystall</b><br>
        English and Comparative Literature<br>
        vidalia@email.unc.edu
      </p>
      <p>
        <b>Sherryl Kleinman</b><br>
        Emerita, Sociology<br>
        kleinman@email.unc.edu
      </p>
    </li>
    <li>
      <h3>President, NC Conference of the AAUP</h3>
      <p>
        <b>Belle Boggs</b><br>
        English (NCSU)<br>
        belleboggs@gmail.com
      </p>
    </li>
    <li>
      <h3>Treasurer, NC Conference of the AAUP</h3>
      <p>
        <b>Rosie Miesner</b><br>
        School of Education<br>
        rose.miesner@gmail.com
      </p>
    </li>
  </ul>
</section>
<section id="related">
  <h2>Related organizations</h2>
  <ul>
    <li>
      <p>
        <a href="https://workersunionatunc.org">
          Workers Union at UNC
        </a>
      </p>
    </li>
    <li>
      <p>
        <a href="https://aaupnorthcarolina.wordpress.com">
          North Carolina Conference of the AAUP
        </a>
      </p>
    </li>
    <li>
      <p>
        <a href="https://www.networkofconcernedacademics.org">
          Network of Concerned Academics
        </a>
      </p>
    </li>
    <li>
      <p>
        <a href="https://onefacultyoneresistance.org">
          One Faculty, One Resistance
        </a>
      </p>
    </li>
  </ul>
</section>
<section id="contact">
  <h2>Contact</h2>
  <p>
    Please feel free to contact us:
  </p>
  <ul>
    <li>
      <p>
        <b>Email</b><br>
        info@unc-ch-aaup.org<br>
      </p>
    </li>
    <li>
      <p>
        <b>Bluesky</b><br>
        <a href="https://bsky.app/profile/unc-ch-aaup.bsky.social">@unc-ch-aaup.bsky.social</a>
      </p>
    </li>
  </ul>
</section>
